@page "/tehtavalista"
@inject HttpClient Http
@inject NavigationManager navigationManager
@using TALA.Shared

<h3>Tehtävät</h3>

<p>
    <a href="/tehtavat/create">Luo uusi tehtävä</a>
</p>

@if (tehtava == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tehtävä</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tehtava)
            {
                <tr>
                    <td class=" list-group-item list-group-item-action flex-column align-items-start btn btn-outline-success">@item.Kuvaus</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Tehtava> tehtava { get; set; } = new List<Tehtava>();

    protected override async Task OnInitializedAsync()
    {
        tehtava = await Http.GetFromJsonAsync<List<Tehtava>>("api/Tehtava");
    }

}

